body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: clamp(100px, 20vw, 300px) 1fr;
  grid-template-rows: min-content 1fr;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  --light-grey-background: rgb(227, 232, 238);
  --shadow-color: rgb(196, 195, 195);
  --blue-background: rgb(14, 157, 224);
}

.top-nav {
  grid-column: 2;
  background-color: rgb(187, 120, 250);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
  padding: 1rem 1.75rem 0.75rem;
  /* margin: 1rem 1.75rem 0.75rem; */
  align-items: center;
  box-shadow: 0px 2px 8px var(--shadow-color);
  z-index: 2;
}

.search-and-nav form {
  display: flex;
  gap: 1rem;
}

.search {
  display: inline;
}

.search-and-nav input {
  background-color: var(--light-grey-background);
  border: none;
  border-radius: 20px;
  height: 2rem;
  flex-basis: 45rem;
}

.nav-end-content {
  display: flex;
  gap: 2rem;
  align-self: center;
  align-items: center;
  justify-self: end;
  font-weight: bold;
  font-size: 1rem;
}

.nav-end-content .avatar {
  width: 40px;
}

.account-greeter {
  display: grid;
  --greeter-avatar-width: 65px;
  grid-template-columns: var(--greeter-avatar-width) 1fr;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
}

.account-greeter .avatar {
  grid-column: 1;
  width: var(--greeter-avatar-width);
}

.account-greeter div {
  grid-column: 2;
}

.account-greeter p {
  margin: 0.25rem;
}

#static-greeting {
  font-size: 0.75rem;
}

#personalized-greeting {
  font-size: 1.5rem;
}

.project-buttons {
  display: flex;
  gap: 1rem;
  justify-content: right;
}

.project-buttons button {
  background-color: var(--blue-background);
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.sidebar {
  grid-row: 1 / -1;
  background-color: var(--blue-background);
  color: white;
  z-index: 3;
}

.sidebar .logo {
  margin: 1rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
}

.sidebar .logo img {
  width: 50px;
}

.sidebar .logo span {
  font-size: larger;
  font-weight: bold;
}

.sidebar-links {
  display: grid;
  gap: 1em;
  grid-template-columns: 20px 1fr;
  align-items: center;
}

.icon {
  width: 20px;
}

.sidebar ul {
  padding: 1.5rem;
}

.sidebar li {
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.content {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--light-grey-background);
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 1fr 1fr;
  padding: 1rem 2rem 2rem;
  font-size: 0.75rem;
  --grey-text: rgb(107, 107, 107);
}

.section-header > p {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 1rem;
}

#projects {
  grid-row: 1 / -1;
}

#project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: 5px 1fr;
  grid-template-rows: 1fr 2.8rem;
  gap: 1rem;
  border-radius: 5px;
  background-color: white;
  width: 20rem;
  height: 12rem;
  /* Clips the corners of the orange bar to match the background. */
  overflow: clip;
  box-shadow: 0px 2px 8px var(--shadow-color);
}

.card-heading {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1rem;
}

.card-body {
  margin: 0;
  font-size: 0.9rem;
  color: var(--grey-text);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.orange-bar {
  background-color: #fcba03;
  grid-row: 1 / -1;
}

.icons-container {
  display: flex;
  justify-content: right;
  gap: 1.4rem;
  margin-right: 1.4rem;
  height: 1.4rem;
  padding-bottom: 1.5rem;
}

#trending-container,
#announcements-container {
  background: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 2px 8px var(--shadow-color);
}

#announcements-container {
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
}

.announcement-header {
  font-weight: bold;
}

.announcement-body {
  font-weight: normal;
  color: var(--grey-text);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

hr {
  border: 0;
  width: 100%;
  margin: 1rem 0;
  background-color: rgb(206, 205, 205);
  height: 1px;
}

#announcements p,
#trending p {
  margin: 0;
}

.contet-body-header {
  margin: 0;
  padding-bottom: .5rem;
  padding-top: 1rem;
}

.trending-person {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

.trending-person .avatar {
  width: 50px;
  grid-row: 1 / -1;
}

.trending-person p {
  margin: 0.25rem;
}

.handle {
  font-weight: bold;
}

.tagline {
  color: var(--grey-text);
}
